@media (max-width: 1300px) {
  .container {
    .uni-content {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 1080px) {
  .container {
    .content {
      .posts {
        .postal-info {
          display: flex;
          flex-direction: column;
          div {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  #header {
    .width-container {
      .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
      }
      .hidden {
        display: none;
      }
      .toggle {
        display: flex;
        position: fixed;
        top: 0;
        right: 15px;
        width: 60px;
        height: 60px;
        background: url("../public/menu-bar.png") no-repeat center;
        background-size: 30px;
        cursor: pointer;
        margin-top: 5px;

        &.active {
          width: 60px;
          height: 60px;
          background: url("../public/close.png") no-repeat center;
          background-size: 25px;
          z-index: 10000;
          cursor: pointer;
        }
      }
      .menu {
        display: none;
        &.active {
          position: fixed;
          top: 0;
          right: 0;
          width: 100vw;
          height: 50vh;
          z-index: 1001;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $primaryColor;
          ul {
            position: relative;
            list-style: none;
            li {
              cursor: pointer;
              padding: 10px 0;
              a {
                font-size: 2rem;
                &:hover {
                  border-bottom: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .container {
    .heading {
      .search {
        display: flex;
        flex-direction: column;
        .column {
          margin-bottom: 1rem;
          align-items: center;
        }
      }
    }
    .uni-content {
      margin-top: 1rem;
    }
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }

  #header {
    .width-container {
      .flex {
        .logo {
          font-size: 1rem;
        }
      }
    }
  }
  .container {
    .form {
      width: 90%;
    }
  }
}

@media (max-width: 480px) {
  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.8rem;
  }
}
