@media (max-width: 820px) {
  #header {
    .width-container {
      .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
      }
      .hidden {
        display: none;
      }
      .toggle {
        display: flex;
        position: relative;
        width: 60px;
        height: 60px;
        background: url("../public/menu-bar.png") no-repeat center;
        background-size: 30px;
        cursor: pointer;
        margin-top: 5px;

        &.active {
          width: 60px;
          height: 60px;
          background: url("../public/close.png") no-repeat center;
          background-size: 25px;
          z-index: 10000;
          cursor: pointer;
        }
      }
      .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 50vh;
        z-index: 1001;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primaryColor;
        ul {
          position: relative;
          list-style: none;
          li {
            cursor: pointer;
            padding: 10px 0;
            a {
              font-size: 2rem;
              &:hover {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}
