@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

$primaryColor: lightgoldenrodyellow;
$black: #333;
$white: #fff;
$hover: rgb(123, 195, 123);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: $black;
  color: $white;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  /* max-width: 1200px; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primaryColor;
  height: 70px;
  padding: 2rem;
  margin-bottom: 5rem;
  /* border-bottom: 1px solid rgb(100, 99, 99); */

  .header-link {
    display: flex;
    align-items: center;

    a {
      padding: 10px;

      &:hover {
        color: $hover;
      }
      svg {
        margin-right: 5px;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: papayawhip;
  color: $black;
  height: 70px;
}
